body{
    background-color: #FFFFFF;
    margin: 0;
}

h1{
    width:50%;
    border-bottom:1px solid #0d8489;
    padding-bottom:5px;
}
h1,h2,h3,h4,p,a,tr,br,form{
    font-family: "Verdana", "Geneva", "Sans-serif";
    text-allign: left;
}
p,a,tr{
    color:#101010;
}
h1,h2,h4{
    color:#0d8489;
    margin-bottom: 15px;
}
h3{
    font-weight:bold;
}
h2,h3{
    margin-top: 20px;
}
h4{
    allign:center;
}
p, .main a{
    text-align: justify;
}
.main1, .main2, .main3{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
        
.header{
    width: 100%;
    padding-top: 25px;
}
        
.footer{
    background-color: #a6d0d1;
    width: 100%;
    height: 50px;
    bottom: 0;
}

.row2, .row, .row3 {
  display: flex;
  flex-wrap: wrap;
}
.line1 img, .line2 img, .line3 img, .line4 img, .line11 img{
  width: 99%;
    allign: center;
}
.line3 p{
 width: 90%;
}
.line1{
  flex: 100%;
  width: 100%;
}
.line2{
  flex: 50%;
  width: 50%;
}
.line3{
  flex: 33.33%;
  width: 33.33%;
}
.line4{
  flex: 25%;
  width: 25%;
}
.line11{
  flex: 9%;
  width: 9%;
}
.linefill{
    flex: 75%;
    width: 75%;
}

li{
    display: inline-block;
    float: right;
}
.taskbar{
    background-color: #a6d0d1;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}
.taskbar a:hover {
    color: #0d8489;
}
.clicked{
    background: #b5d6d7; 
}
.taskbar a {
    display: block;
    color: #101010;
    text-decoration: none;
    text-align: center;
}

.logo {
    position: fixed;
}

th {
  text-align: left;
}
th, td {
  padding: 5px;
}
table{
    margin-left: 30px;
}

iframe{
    width:100%;
}

.row{
    display:flex;
}
.column{
    float: left;
    flex: 33%;
    padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (min-width: 1050px){
        p, h2, h3, .main a, tr, form{
            font-size: small;
            line-height: 150%;
        }
        h1{
            font-size: large;
        }
        .main1, .main2{
            width: 900px;
            margin-bottom: 50px;
        }
        .main3{
            width: 90%;
        }
        .main1{ 
            margin-top: 50px;
        }
        .main2{ 
            margin-top: 120px;
        }
        .gallery{
            width: 100%;
            allign: center;
        }
        .taskbar a {
          font-size: medium;
          padding: 20px 20px;
        }
        .header{
            margin-top: 50px;
        }
        .footer{
            padding: 5px 0px;
            font-size: small;
            margin-top: 50px;
        }
        .footer p{
            margin-left: 50px;
        }
        .contact {
            margin-right: 60px;
        }
        .logo {
            visibility: visible;
        }
}

@media screen and (max-width: 1050px){
        p, h2, h3, .main a, tr ,form{
            font-size: x-small;
            line-height: 120%;
        }
        h1{
            font-size: small;
        }
        .main1, .main2, .main3{
            max-width: 95%;
            margin-bottom: 40px;
        }
        .main1{ 
            margin-top: 25px;
        }
        .main2{ 
            margin-top: 60px;
        }
        .taskbar a{
          font-size: small;
          padding: 10px 10px;
        }
        .header{
            height: 200px;
            margin-top: 25px;
        }
        .footer{
            padding: 2px 0px;
            font-size: xx-small;
        }
        .footer p{
            margin-left: 10px;
        }
        .contact {
            margin-right: 30px;
        }
        .logo {
            visibility: hidden;
        }
}

@media screen and (max-width: 550px){
        p, h2, h3, .main a, tr, form{
            font-size: x-small;
            line-height: 120%;
        }
        h1{
            font-size: x-small;
        }
        .main1, .main2, .main3{
            max-width: 95%;
            margin-bottom: 40px;
        }
        .main1{ 
            margin-top: 25px;
        }
        .main2{ 
            margin-top: 60px;
        }
        .taskbar a{
          font-size: x-small;
          padding: 5px 5px;
        }
        .header{
            height: 130px;
            margin-top: 25px;
        }
        .footer{
            padding: 2px 0px;
        }
        .footer p{
            margin-left: 10px;
            font-size: xx-small;
        }
        .contact {
            margin-right: 15px;
        }
        .logo {
            visibility: hidden;
        }
}
