body{
    background-color: #FFFFFF;
    margin: 0;
}

h1{
    width:50%;
    border-bottom:1px solid #0d8489;
    padding-bottom:5px;
}
h1,h2,p,a,tr,br,form{
    font-family: "Verdana", "Geneva", "Sans-serif";
    text-allign: left;
}
p,a,tr{
    color:#101010;
}
h1,h2{
    color:#0d8489;
    margin-bottom: 15px;
}
h2{
    margin-top: 20px;
}
p, .main a{
    text-align: justify;
}
.main1, .main2{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
        
.header{
    width: 100%;
    padding-top: 25px;
}
        
.footer{
    background-color: #a6d0d1;
    width: 100%;
    height: 50px;
    bottom: 0;
}

.row2, .row, .row3 {
  display: flex;
  flex-wrap: wrap;
}
.line1 img, .line2 img, .line3 img, .line4 img{
  width: 99%;
}
.line1{
  flex: 100%;
  width: 100%;
}
.line2{
  flex: 50%;
  width: 50%;
}
.line3{
  flex: 33.33%;
  width: 33.33%;
}
.line4{
  flex: 25%;
  width: 25%;
}

li{
    display: inline-block;
    float: right;
}
.taskbar{
    background-color: #a6d0d1;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}
.taskbar a:hover {
    color: #0d8489;
}
.clicked{
    background: #b5d6d7; 
}
.taskbar a {
    display: block;
    color: #101010;
    text-decoration: none;
    text-align: center;
}

.logo {
    position: fixed;
}

th {
  text-align: left;
}
th, td {
  padding: 5px;
}
table{
    margin-left: 30px;
}

iframe{
    width:100%;
}

.row{
    display:flex;
}
columnL{
    flex:20%;
    padding: 10px;
}
columnR{
    flex:80%;
    padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (min-width: 1050px){
        p, h2, .main a, tr, form{
            font-size: small;
            line-height: 150%;
        }
        h1{
            font-size: large;
        }
        .main1, .main2{
            width: 900px;
            margin-bottom: 50px;
        }
        .main1{ 
            margin-top: 50px;
        }
        .main2{ 
            margin-top: 120px;
        }
        .gallery{
            width: 100%;
        }
        .taskbar a {
          font-size: medium;
          padding: 20px 20px;
        }
        .header{
            margin-top: 50px;
        }
        .footer{
            padding: 5px 0px;
            font-size: small;
            margin-top: 50px;
        }
        .footer p{
            margin-left: 50px;
        }
        .contact {
            margin-right: 60px;
        }
        .logo {
            visibility: visible;
        }
}

@media screen and (max-width: 1050px){
        p, h2, .main a, tr ,form{
            font-size: x-small;
            line-height: 120%;
        }
        h1{
            font-size: small;
        }
        .main1, .main2{
            max-width: 95%;
            margin-bottom: 40px;
        }
        .main1{ 
            margin-top: 25px;
        }
        .main2{ 
            margin-top: 60px;
        }
        .taskbar a{
          font-size: small;
          padding: 10px 10px;
        }
        .header{
            height: 200px;
            margin-top: 25px;
        }
        .footer{
            padding: 2px 0px;
            font-size: xx-small;
        }
        .footer p{
            margin-left: 10px;
        }
        .contact {
            margin-right: 30px;
        }
        .logo {
            visibility: hidden;
        }
}

@media screen and (max-width: 550px){
        p, h2, .main a, tr, form{
            font-size: x-small;
            line-height: 120%;
        }
        h1{
            font-size: x-small;
        }
        .main1, .main2{
            max-width: 95%;
            margin-bottom: 40px;
        }
        .main1{ 
            margin-top: 25px;
        }
        .main2{ 
            margin-top: 60px;
        }
        .taskbar a{
          font-size: x-small;
          padding: 5px 5px;
        }
        .header{
            height: 130px;
            margin-top: 25px;
        }
        .footer{
            padding: 2px 0px;
        }
        .footer p{
            margin-left: 10px;
            font-size: xx-small;
        }
        .contact {
            margin-right: 15px;
        }
        .logo {
            visibility: hidden;
        }
}

.timeline {
  width: 100%;
  height: auto;
  margin: 150px 0;
  position: relative;
  .line {
    width: 5px;
    height: 1800px;
    min-height: 250px;
    background: #393939;
    margin: 25px auto;
    left: 50%;
    right: 50%;
    z-index: 1;
    position: absolute;
  }
  .start {
    font-size: 32px;
    position: absolute;
    top: -45px;
    left: -35px;
    }
  .end {
    font-size: 32px;
    position: absolute;
    bottom: -45px;
    left: -35px;
  }
  .event {
    width: 38%;
    height: 200px;
    text-align: center;
    box-shadow: 0 0.01em 0.01em #000;
    margin: 50px 0 0 5%;
    padding: 25px;
    background: #fff;
    z-index: 2;
    float: left;
    box-sizing: border-box;
    position: relative;
    &:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: 75px;
      right: -28px;
      border-style: solid;
      border-width: 25px 0 25px 28px;
      border-color: transparent transparent transparent #ffffff;
      z-index: 4;
    }
    &:after {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: 74px;
      right: -30px;
      border-style: solid;
      border-width: 26px 0 26px 30px;
      border-color: transparent transparent transparent #aeaeae;
      z-index: 3;
    }
    .icon {
      position: absolute;
      right: -20px;
      top: -20px;
      height: 50px;
      width: 50px;
      background: #393939;
      border-radius: 50%;
      z-index: 3;
      img {
        max-width: 60%;
        height: auto;
        margin: 20%;
        filter: invert(100%); 
      }
    }
    .date {
      font-weight: 700;
      font-size: 2rem;
    }
    .details {
      font-weight: 400;
      font-size: 1rem;
      margin: 20px 0;
      padding: 0;
    }
    &:nth-of-type(odd) {
      float: right;
      margin: 90px 5% 0 0;
      .icon {
        left: -20px;
      }
      &:before {
      left: -28px;
      border-width: 25px 28px 25px 0;
      border-color: transparent #ffffff transparent transparent;
    }
      &:after {
      left: -30px;
      border-style: solid;
      border-width: 26px 30px 26px 0;
      border-color: transparent #aeaeae transparent transparent;
      }
    }
  }
}

@media (max-width: 768px) {
  .timeline {
    .event {
    float: right;
    width: 60%;
    min-width: 300px;
    margin: 10% 10% 0 0;
      &:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: 75px;
      left: -28px;
      width: 0;
      border-style: solid;
      border-width: 25px 28px 25px 0;
      border-color: transparent #ffffff transparent transparent;
    }
      &:after {
      left: -30px;
      border-style: solid;
      border-width: 26px 30px 26px 0;
      border-color: transparent #aeaeae transparent transparent;
      }
      .icon {
        left: -20px;
      }
      &:nth-of-type(odd) {
          margin: 10% 10% 0 0;
               }
            }
    .line {
    height: 3200px;
    left: -20px;
          }
  }
}

@media (max-width: 575px) {
  .timeline {
    padding: 100px 0 0 0;
    margin: 0 0 150px 0;
  }
  .timeline .event, .timeline .event:nth-of-type(odd) {
    float: none;
    margin: 15% auto;
            }
  .timeline .line {
    left: 50%;
    height: 3050px;
  }
  .timeline .event:before, .timeline .event:nth-of-type(odd):before, .timeline .event:after, .timeline .event:nth-of-type(odd):after {
    display: none;
  }
  .timeline .event .icon, .timeline .event:nth-of-type(odd) .icon {
    left: 128px;
  }
  .timeline .event .date {
    margin: 25px 0 0 0;
  }
  
}
